<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <connectionStrings>
        <add
                name="Default"
                connectionString="host=hostname;port=5432;database=library;user id=libworker;password=123456"
                providerName="Npgsql" />
    </connectionStrings>
    <configSections>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>